<script setup lang="ts">
import { useUserStore } from "@/stores/user";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const useUser = useUserStore();
const form = ref<VForm | null>(null);
const clearForm = () => {
  useUser.dialog = false;
};
const saveForm = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    useUser.saveUser();
  }
};
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="useUser.dialog" persistent>
      <!-- <template v-slot:activator="{ props }"> -->
      <!-- <v-btn color="primary" v-bind="props"> Open Dialog </v-btn> -->
      <!-- </template> -->
      <v-card>
        <v-card-title>
          <span class="text-h5">User Profile</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="Login"
                    v-model="useUser.editedUser.login"
                    required
                    :rules="[
                      (v) => !!v || 'Login is required',
                      (v) =>
                        v.length >= 5 ||
                        'Login name should be at least 5 characters',
                    ]"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Name"
                    v-model="useUser.editedUser.name"
                    :rules="[
                      (v) => !!v || 'Login is required',
                      (v) =>
                        v.length >= 5 ||
                        'Login name should be at least 5 characters',
                    ]"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="useUser.editedUser.password"
                    label="Password"
                    type="password"
                    required
                    :rules="[
                      (v) => !!v || 'Password is required',
                      (v) =>
                        v.length >= 8 ||
                        'Login name should be at least 8 characters',
                      (v) =>
                        /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/.test(
                          v
                        ) ||
                        'Password must be at least 8 characters , Upper case letters and Space character',
                    ]"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>

          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="clearForm">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="saveForm">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped></style>
