<script setup lang="ts">
import MainView from "./views/MainView.vue";
import LoginView from "./views/LoginView.vue";
import { onMounted } from "vue";
import { useLoginStore } from "@/stores/login";
import MessageBox from "./components/MessageBox.vue";
import KaewmaneeMarasri from "./components/KaewmaneeMarasri.vue";
import CreamComponent from "./components/CreamComponent.vue";
import MaintaComponents from "./components/MaintaComponents.vue";
import MinnieComponent from "./components/MinnieComponent.vue";
import ToeyComponent from "./components/ToeyComponent.vue";
import AfterView from "./components/AfterView.vue";

const loginStore = useLoginStore();

onMounted(() => {
  loginStore.loadData();
});
</script>

<template>
  <LoginView v-if="!loginStore.isLogin" />
  <MainView
    v-if="loginStore.isLogin"
    @logout="loginStore.logout"
    :loginName="loginStore.loginName"
  />
  <MessageBox />
  <KaewmaneeMarasri />
  <CreamComponent />
  <MaintaComponents />
  <MinnieComponent />
  <ToeyComponent />
  <AfterView />
</template>

<style scoped></style>
